* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.color-gray {
    filter: brightness(0.5);
}

.color-lightgray {
    filter: brightness(0.9);
}
/* fine generale */

.wrapper {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: white;
}

/* main */
main {
    height: calc(100% - 90px);
}

/* nav */
main nav {
    float: left;
    height: 100%;
    width: 200px;
    min-height: 400px;
    background-color: black;
}

/* nav-top */
    .nav-top {
        height: calc(100% - 80px);
    }

    .nav-top .logo {
        padding: 15px;
        height: 80px;
    }

    .nav-top .logo img {
        height: 80%;
    }

    .nav-top .home {
        height: 80px;
        padding-bottom: 10px;
    }

    .nav-top .home>div {
        display: flex;
        align-items: center;
        height: calc((100% / 3) - 5px);
        width: 100%;
        padding: 0 15px;
        margin-bottom: 5px;
    }

    .nav-top .home>div>img {
        height: 100%;
    }

    .nav-top .home>div>span {
        padding: 0 10px;
    }

    .nav-top .home .lime {
        border-left: 2px solid lime;
    }

    .nav-top .playlist {
        height: calc(100% - 160px);
    }

    .nav-top .playlist>div {
        padding-left: 15px;
    }

    .nav-top .playlist h3 {
        padding: 0 0 10px 15px;
    }

    .nav-top .playlist .crea{
        display: flex;
        align-items: center;        
    }

    .nav-top .playlist .crea .plus {
        display: inline-block;
        background-color: white;
        color: black;
        font-size: 30px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
    }

    .nav-top .playlist .crea>span {
        padding-left: 5px;
        font-size: 15px;
    }

    .nav-top .playlist ul{
        list-style: none;
        padding: 15px 15px 0 15px;
        height: calc(100% - 60px);
        overflow-y: auto;
    }

    .nav-top .playlist ul li{
        padding-bottom: 10px;
    }

    .nav-top .playlist ul li:last-child{
        padding-bottom: 0;
    }

    /* scrollbar */
    ::-webkit-scrollbar {
        width: 7px;
    }
    
    ::-webkit-scrollbar-track {
        background: none;
    }
    
    /* maniglia scrollbar */
    ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 5px;
    }
/* FINE nav-top */

/* nav-bottom */
    .nav-bottom{
        height: 80px;
        width: 100%;
    }
/* FINE nav-bottom */
/* FINE nav */

/* main section */
main section{
    float: left;
    height: 100%;
    width: calc(100% - 200px);
}
/* FINE main section */
/* FINE main */

/* footer */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
}


/* FINE footer */

@media screen and (max-width: 600px) {
    main nav{
        width: 50px;
    }

    main section{
        width: calc(100% - 50px);
    }    
}

/* debug */
.debug .wrapper {
    background-color: lightgray;
}

.debug main {
    background-color: gray;
}

.debug .nav-top{
    background-color: coral;
}

.debug .nav-bottom{
    background-color: red;
}

.debug .logo,.debug .home,.debug .playlist,.debug .account{
    background-color: mediumblue;
}

.debug .nav-top .home>div{
    background-color: burlywood;
}

.debug .nav-top .playlist ul{
    background-color: green;
}

.debug main section{
    background-color: lightslategray;
}

.debug footer {
    background-color: lightseagreen;
}

.debug .title,.debug .player,.debug .volume{
    background-color: mediumblue;
    border: 1px solid salmon;

    height: 100%;
    width: 300px;
}
/* fine debug */