* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.color-gray {
    filter: brightness(0.5);
}

.color-lightgray {
    filter: brightness(0.9);
}
/* fine generale */

.wrapper {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: white;
}

/* main */
main {
    height: calc(100% - 90px);
}

/* nav */
main>nav {
    float: left;
    height: 100%;
    width: 200px;
    min-height: 400px;
    background-color: black;
}

/* nav-top */
    .nav-top {
        height: calc(100% - 80px);
    }

    .nav-top .logo {
        padding: 15px;
        height: 80px;
    }

    .nav-top .logo img {
        height: 80%;
    }

    .nav-top .home {
        height: 80px;
        padding-bottom: 10px;
    }

    .nav-top .home>div {
        display: flex;
        align-items: center;
        height: calc((100% / 3) - 5px);
        width: 100%;
        padding: 0 15px;
        margin-bottom: 5px;
    }

    .nav-top .home>div>img {
        height: 100%;
    }

    .nav-top .home>div>span {
        padding: 0 10px;
    }

    .nav-top .home .lime {
        border-left: 2px solid lime;
    }

    .nav-top .playlist {
        height: calc(100% - 160px);
    }

    .nav-top .playlist>div {
        padding-left: 15px;
    }

    .nav-top .playlist h3 {
        padding: 0 0 10px 15px;
    }

    .nav-top .playlist .crea {
        display: flex;
        align-items: center;        
    }

    .nav-top .playlist .crea .plus {
        display: inline-block;
        background-color: white;
        color: black;
        font-size: 30px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
    }

    .nav-top .playlist .crea>span {
        padding-left: 5px;
        font-size: 15px;
    }

    .nav-top .playlist ul {
        list-style: none;
        padding: 15px 15px 0 15px;
        height: calc(100% - 60px);
        overflow-y: auto;
    }

    .nav-top .playlist ul li {
        padding-bottom: 10px;
    }

    .nav-top .playlist ul li:last-child {
        padding-bottom: 0;
    }

    /* scrollbar */
    ::-webkit-scrollbar {
        width: 7px;
    }
    
    ::-webkit-scrollbar-track {
        background: none;
    }
    
    /* maniglia scrollbar */
    ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 5px;
    }
/* FINE nav-top */

/* nav-bottom */
    .nav-bottom {
        height: 80px;
        width: 100%;
        padding: 0 15px;
    }

    .download {
        line-height: 38px;
        border-bottom: 2px solid white;
    }

    .user {
        height: 40px;
        line-height: 40px;
    }

    .user img {
        height: 60%;
        vertical-align: middle;
        background-color: gray;
        border-radius: 50%;
    }

    .user span {
        font-weight: bold;
    }
/* FINE nav-bottom */

.nav-xs-top,.nav-xs-bottom {
    display: none;
}
/* FINE nav */

/* main section */
main>section {
    float: left;
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
    padding: 20px;
    overflow-y: auto;
}

main section h2 {
    margin-bottom: 10px;
}

main section h3 {
    margin: 20px 0 10px 0;
}

main section>nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0 30px 0;
}

main section>nav a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 30px;
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

main section .items {
    display: flex;
    padding: 20px 0;
}

main section .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0 5px;
}

main section .item .img {
    border-radius: 50%;
    overflow: hidden;
}

main section .item img {
    display: flex;
    width: 100%;
}

main .recently-played .items {
    justify-content: space-between;
}
/* FINE main section */
/* FINE main */

/* footer */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(59, 59, 59);
    height: 90px;
    width: 100%;
}

.slider {
    height: 5px;
    border-radius: 2.5px;
    background-color: gray;
}

.slider-interno {
    height: 100%;
    width: 30%;
    border-radius: 2.5px;
    background-color: lightgray;
}

/* player-center */
    .player-center {
        height: 100%;
        width: 40%;
        min-width: 150px;
    }

    .player-center .top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    .player-center .top i {
        margin: 0 10px;
    }

    .far.fa-play-circle {
        font-size: 25px;
    }

    .player-center .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player-center .bottom .slider {
        width: 70%;
        margin: 0 5%;
    }
/* FINE player-center */

.player-left,.player-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200px;
    min-width: 150px;
}

/* player-left */
    .player-left .album {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .player-left .album-img {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }

    .player-left .album-img img {
        height: 100%;
        vertical-align: middle;
    }

    .player-left .title {
        margin-right: 5px;
    }

    .player-left .title .author {
        font-size: 10px;
    }
    .player-left .icons i {
        margin-right: 10px;
    }
/* FINE player-left */

/* player-right */
    .player-right i {
        flex-shrink: 0;
        margin: 0 5px;
    }

    .player-right .slider {
        flex-shrink: 0;
        width: 80px;
        margin: 0 10px;
    }
/* FINE player-right */
/* FINE footer */

@media screen and (max-width: 600px) {
    main>nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50px;
    }

    main>nav .nav-top,main nav .nav-bottom {
        display: none;
    }

    .nav-xs-top,.nav-xs-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .nav-xs-top {
        height: 160px;
    }

    .nav-xs-bottom {
        height: 90px;
    }

    .nav-xs-top img {
        width: 60%;
    }

    .nav-xs-bottom i {
        font-size: 20px;
    }

    .nav-xs-bottom img {
        width: 30px;
        height: 30px;
        background-color: gray;
        border-radius: 50%;
    }

    main>section {
        width: calc(100% - 50px);
    }    
}

/* debug */
.debug .wrapper {
    background-color: lightgray;
}

.debug main {
    background-color: gray;
}

.debug .nav-top {
    background-color: coral;
}

.debug .nav-bottom {
    background-color: red;
}

.debug .logo,.debug .home,.debug .playlist,.debug .account {
    background-color: mediumblue;
}

.debug .nav-top .home>div {
    background-color: burlywood;
}

.debug .nav-top .playlist ul {
    background-color: green;
}

.debug main section {
    background-color: lightslategray;
}

.debug .player-left,.debug .player-right, .debug .player-center {
    background-color: rgb(129, 129, 129);
    border: 1px solid black;
}
/* fine debug */