* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
/* fine generale */

.wrapper {
    height: 100vh;
}

/* main */
main {
    height: calc(100% - 100px);
}

/* nav */
main nav {
    float: left;
    height: 100%;
    width: 25%;
}
/* FINE nav */

/* main section */
main section{
    float: left;
    height: 100%;
    width: 75%;
}
/* FINE main section */
/* FINE main */

/* footer */
footer {
    height: 100px;
}
/* FINE footer */

/* debug */
.debug .wrapper {
    background-color: lightgray;
}

.debug main {
    background-color: gray;
}

.debug footer {
    background-color: lightseagreen;
}

.debug main nav {
    background-color: lightskyblue;
}

.debug main section{
    background-color: lightslategray;
}
/* fine debug */